<div class="main-link-list">
  <div class="main-link" routerLink="work">
    <img src="\assets\work.png" alt="">
    <p>Work Page</p>
  </div>
  <div class="main-link" routerLink="hobbies">
    <img src="\assets\hobby.webp" alt="">
    <p>Hobby page</p>
  </div>
  <div class="main-link" routerLink="courses">
    <img src="\assets\courses.webp" alt="">
    <p>Courses page</p>
  </div>
</div>
<div class="rectangle"></div>
<p class="main-text">Welcome</p>

<div class="facebook-button" href="https://www.facebook.com/">
  <img src="\assets\slowpoke.png" alt="" >
  <span>Facebook</span>
</div>
